<!-- Esse arquivo é o que vai ser mostrado quando ocorrer algum erro no sistema ou de execução do usuario -->

<%- include('includes/nav') %> <!--importando do arquivo nav.ejs -->
<%- include('includes/head') %> <!-- importando do arquivo head.ejs -->

    <div class="container">
      <div class="row">
        <div class="col-2"></div>

        <div class="col-8 my-5">
          <h1 class="display-1 text-center">
            Erro 404!
          </h1>

          <p class="text-center lead">
            A pagina que você procura nao existe
          </p>
        </div>

        <div class="col-2"></div>
      </div>
    </div>

<%- include('includes/footer') %> <!-- importando do arquivo footer.ejs -->

